  <div id="wrapper">
    <header id="main">
      <a href="/"><%= image_tag "kmikeym_logo_heart.png" %></a>
      <h1>Romance Advisory</h1>
      
    </header>
    
    <div id="content">
      <% @candidates.each do |candidate| %>
        <article>
          <header class="clearfix">
            <h2><a href="<%= url_for candidate %>"><%= candidate[:name] %></a></h2>
            <div class="voting">

              <div class="vote-btn yes <%= (@votes[candidate[:id]] == "yes" ? "" : "inactive") %>" id="vote-<%= candidate[:id] %>-yes" data-candidate-id="<%= candidate[:id] %>"></div>
              <div class="vote-percent yes <%= (@votes[candidate[:id]] == "yes" ? "" : "inactive") %>" id="votepercent-<%= candidate[:id] %>-yes" ><%= candidate.percent_yes %>%</div>
              <div class="vote-btn no <%= (@votes[candidate[:id]] == "no" ? "" : "inactive") %>" id="vote-<%= candidate[:id] %>-no" data-candidate-id="<%= candidate[:id] %>"></div>
              <div class="vote-percent no <%= (@votes[candidate[:id]] == "no" ? "" : "inactive") %>" id="votepercent-<%= candidate[:id] %>-no" ><%= candidate.percent_no %>%</div>

            </div>
          </header>
          
          <!-- Allow HTML in the candidate text since it can only be entered from the admin panel -->
          <p><%== candidate[:text] %></p>
          
          <%= form_for(@question, :html => {:class => 'question-form'}) do |f| %>
            <%= f.text_field :text, :class => 'question' %>
            <input type="hidden" name="question[candidate_id]" value="<%= candidate[:id] %>" />
            <button class="btn">Ask a question</button>
          <% end %>

          <% candidate.questions.each do |question| %>
            <p class="question">Question: <%= question[:text] %></p>
          <% end %>
          
        </article>
      <% end %>
    </div>
  </div>